In [1]:
import numpy as np
import pandas as pd

In [2]:
%precision 3

pd.set_option('precision', 3)

In [3]:
df = pd.read_csv('data/ch2_scores_em.csv', index_col='生徒番号')
df.head()

      英語  数学
生徒番号
1     42  65
2     69  80
3     56  63
4     41  63
5     57  76

In [4]:
scores = np.array(df['英語'])[:10]
scores

array([42, 69, 56, 41, 57, 48, 65, 49, 65, 58], dtype=int64)

In [5]:
scores_df = pd.DataFrame({'点数':scores},index=pd.Index(['A','B','C','D','E','F','G','H','I','J'],name='生徒'))
scores_df

    点数
生徒
A   42
B   69
C   56
D   41
E   57
F   48
G   65
H   49
I   65
J   58

In [6]:
sum(scores) / len(scores)

55.0

In [7]:
np.mean(scores)

55.0

In [8]:
df.mean()

英語    58.38
数学    78.88
dtype: float64

In [9]:
scores_df.mean()

点数    55.0
dtype: float64

In [11]:
sorted_socres = np.sort(scores)
sorted_socres

array([41, 42, 48, 49, 56, 57, 58, 65, 65, 69], dtype=int64)

In [23]:
n = len(sorted_socres)
if n % 2 == 0:
    m_1 = sorted_socres[n // 2 - 1]
    m = sorted_socres[n // 2]
#     median = (m_1 + m) / 2
    median = float((m_1 + m) / 2)
else:
#     median = sorted_socres[n // 2]
    median = float(sorted_socres[n // 2])
median
type(median)

float

In [24]:
np.median(scores)

56.5

In [25]:
scores_df.median()

点数    56.5
dtype: float64

In [26]:
pd.Series([1,1,1,2,2,3]).mode()

0    1
dtype: int64

In [27]:
pd.Series([1,2,3,4,5]).mode()

0    1
1    2
2    3
3    4
4    5
dtype: int64